// Place all the styles related to the admins/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	@import "bootstrap-sprockets";
    @import "bootstrap";

.font{
	font-size: 25px;
    font-family: cursive;
}

.font_a{
	font-size: 25px;
    font-family: serif;
    font-style: italic;
}

.admin_head_pc{
	display: block;
}

.admin_head_mini{
	display: none;
}


.font_text_ad{
	display: block;
	font-size: 20px;
}

.ad_ad_index{
	background-color: #180614;
	font-size: 30px;
	color: white;
	padding: 17px 24px;
	border-radius: 22px;
    box-shadow: -2px -2px 24px #493759;
}

.ad_index{
	margin-top: 12%;
	text-align: center;
}

.ad_us_index{
	background-color: gold;
	font-size: 30px;
	color: navy;
	padding: 18px 36px;
    border-radius: 22px;
	box-shadow: 6px 4px 12px;
}

.us_index{
	margin-top: 5%;
	text-align: center;
}

.ad_pr_index{
    background-color: ghostwhite;
    font-size: 30px;
    color: midnightblue;
    padding: 18px 36px;
    border-radius: 22px;
    box-shadow: -2px -2px 24px;
}

.pr_index{
	margin-top: 6%;
	text-align: center;
}



/* admin_edit画面 */
.table_a{
	width: 70%;
	margin-left: 16%;
	margin-top: 2%;
}

.a_edit_ad_th{
	background-color: black;
	width: 20%;
    font-size: 18px;
    color: white;
    text-align: right;
}

.a_edit_td{

}

.a_edit_box{
	background-color: #ffffcc;
	width:100%;
	font-size: 18px;
}

.a_edit_th_t{
	background-color: #fff9f5;
	font-size: 15px;
	width: 35%;
}

.a_t{
	width: 80%;
}

.actions_ad{
	text-align: right;
}

.actions_add{
	text-align: center;
}

.admin_footre{
	display: block;
}







@media screen and (max-width:1024px)and(min-width: 768px) {}




@media (max-width: 767px){

/* LogIn */
	.table_a{
		width: 84%;
		margin-left: 8%;
		margin-top: 5%;
	}

	.a_edit_ad_th{
		background-color: black;
		width: 28%;
	    font-size: 18px;
	    color: white;
	    text-align: right;
	}

/* header */
	.admin_head_pc{
		display: none;
	}

	.admin_head_mini{
		display: block;
	}

	.font_mini_ad{
		font-size: 20px;
	    font-family: cursive;
	    font-style: italic;
	    margin-left: 8px;
	}

    #humberger_ad {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      display: block;
      width: 12px;
    }
    #humberger_ad div {
 /*     position: absolute;*/
    /*  border-radius: 2px;*/
      display: inline-block;
      box-sizing: border-box;
    }

    .humberger_top_ad{
        height: 44%;
	    border: 2px solid white;
	    margin-top: 3px;
	    margin-left: -10%;
	    background-color: darkgreen;
	    border-radius: 6px;
    }

    .humber_ad{
        display: none;
        width: 44%;
        margin-left: 57%;
        line-height: 28px;
    }

    .humber_tag_ad{
        background-color: black;
        padding: 26px 0px 6px 0px;
        font-size: 20px;
        text-align: center;
        list-style: none;
    }

    .humber-list{
    }

    .openNav #humberger_ad span:nth-child(1) {
        top: 11px;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg)
    }
　/*2番目と3番目のspanを45度に*/
    .openNav #humberger_ad span:nth-child(2),
    .openNav #humberger_ad span:nth-child(3) {
        top: 11px;
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg)
    }

.admin_footre{
	display: none;
}


/* home_index */

	.font_text_ad{
		display: none;
	}

	.ad_index{
		margin-top: 5%;
		text-align: center;
		height: 7%;
	}

	.us_index{
		margin-top: 5%;
		text-align: center;
		height: 7%;
	}

	.pr_index{
		margin-top: 6%;
		text-align: center;
		height: 7%;
	}

/* admin_edit画面 */
	.table_a{
		width: 81%;
		margin-left: 9%;
		margin-top: 2%;
	}

	.a_edit_ad_th{
		background-color: black;
		width: 11%;
	    font-size: 18px;
	    color: white;
	    text-align: right;
	}

	.a_edit_th_t{
		background-color: #fff9f5;
		font-size: 15px;
		width: 35%;
		line-height: 26px;
	}

	.a_t{
		width: 80%;
		margin-left: 7%;
	}

}









