// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ad_us_tab{
	width: 95%;
    text-align: center;
    margin-left: 2%;
}

.ad_us_tr{
	border: ridge;
}


.ad_us_td{
	border-right: groove;
	font-size: 18px;
}

