// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ad_us_tab{
	width: 96%;
    text-align: center;
    margin-left: 2%;
    line-height: 42px;
}

.ad_us_tr{
	border: ridge;
}


.ad_us_td{
	border-right: groove;
	font-size: 18px;
	width: 19%;
}

.ad_us_td_m{
	border-right: groove;
	font-size: 18px;
	width: 14%;
}

.ad_us_td_p{
	display: block;
	width: 100%;
}

.ad_us_td_p_mini{
	display: none;
}


/* show */

.table_t_a{
	width: 70%;
	margin-left: 14%;
	margin-top: 2%;
}

.user_show_th{
	background-color: papayawhip;
	width: 24%;
    font-size: 18px;
    text-align: right;
}

.user_show_td{
	font-size: 17px;
}

.user_show_link{
	margin-left: 0%;
	text-align: center;
	margin-top: 2%;

}




/* edit */

.table_ed{
	width: 60%;
	margin-left: 18%;
	margin-top: 2%;
}

.edit_ad_us{
	width: 100%;
	border: 0px;
	background-color: #ffffcc;
}

.user_edit_th{
	background-color: #00ffff;
	width: 24%;
    font-size: 18px;
    text-align: right;
}

.user_edit_td{
	font-size: 17px;
}









@media screen and (max-width:1024px)and(min-width: 768px) {}




@media (max-width: 767px){
/* index */
	.ad_us_td_p{
		display: none;
	}
	.ad_us_td_p_mini{
		display: block;
		padding-top: 8px;
	}

	.ad_us_td{
		border-right: groove;
		font-size: 18px;
		width: 19%;
	}

	.ad_us_td_m{
		border-right: groove;
		font-size: 18px;
		width: 22%;
	}


/* show */
	.table_t_a{
		width: 85%;
		margin-left: 8%;
		margin-top: 2%;
	}

	.user_show_th{
		background-color: papayawhip;
		width: 30%;
	    font-size: 18px;
	    text-align: right;
	}

	.user_show_td{
		font-size: 17px;
		width: 30%;
	}

	.user_show_link{
		margin-left: 0px;
		text-align: center;
		margin-top: 5%;
	}


/* edit */
	.table_ed{
		width: 90%;
		margin-left: 5%;
		margin-top: 4%;
	}

	.user_edit_th{
		background-color: chartreuse;
		width: 28%;
	    font-size: 18px;
	    text-align: right;
	}


}








