// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ad_us_tab{
	width: 96%;
    text-align: center;
    margin-left: 2%;
    line-height: 42px;
}

.ad_us_tr{
	border: ridge;
}


.ad_us_td{
	border-right: groove;
	font-size: 18px;
	width: 14%;
}

.ad_us_td_p{
	width: 28%;
}


/* show */

.table_t{
	width: 70%;
	margin-left: 14%;
	margin-top: 2%;
}

.user_show_th{
	background-color: papayawhip;
	width: 24%;
    font-size: 18px;
    text-align: right;
}

.user_show_td{
	font-size: 17px;
}




/* edit */

.table_ed{
	width: 60%;
	margin-left: 18%;
	margin-top: 2%;
}

.edit_ad_us{
	width: 100%;
	border: 0px;
	background-color: #ffffcc;
}

.user_edit_th{
	background-color: #00ffff;
	width: 24%;
    font-size: 18px;
    text-align: right;
}

.user_edit_td{
	font-size: 17px;
}



