<div class="aaaaaaaaaa" style="">
	<h1 style="text-align: center; padding-top: 13%;margin-top: 35px;color: white;">登録したいの？？<br></h1>


	<p style="text-align:center; padding-bottom: 30%;">
	<%= link_to "こっから管理者にお願いしなさい！！", inquiries_path, class: "btn btn-danger", style: "color:white;font-size: 30px;color: white;" %></p>


</div>

