<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<p class="show_mini_top"></p>

<body>
  	<div class="main-visual_ad">
	  	<div class ="main-visual-content_ad">
		  	<h1 class="main-visual-text_ad">管理者登録したい？？させねーYO！！！！<%= link_to "！", new_admin_session_path, style:"color:chartreuse;" %>！</h1>

		  	<h1 class="main-visual-text_ad_mini"><%= link_to "...", new_admin_session_path, style:"color:navy; font-size: 100%;" %>管理者登録したい？？<br>させねーYO！！！！<%= link_to "！", new_admin_session_path, style:"color:navy;" %>！</h1>

		</div>
	</div>


</body>