

<body>
  	<div class="main-visual_ad">
	  	<div class ="main-visual-content_ad">
		  	<h1 class="main-visual-text_ad">管理者登録したい？？させねーYO！！！！！</h1>
		  	<span><%= link_to "...", new_admin_session_path, style:"color:navy; font-size: 100%; margin-left: 1305px;" %></span>
		</div>
	</div>


  </body>