<div class="info_index">
	<h2>檢覽-KENLAN-のご利用について（サイトポリシー）</h2>
	<p>　この度は、檢覽-KENLAN-のウェブサイト（以下、当サイト）をご利用頂き、ありがとうございます。
	　当サイトのご利用にあたっては、以下の内容をご覧ください。</p>
	<br>

	<ol>
		<h4><li>当サイトのコンセプト</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトは様々な広告を閲覧・リンクへ飛ぶために作成されたサイトです。閲覧及び検索のみを目的としており、そのためお気に入りの保存・閲覧者のユーザー登録機能を搭載しておりません。
			</li>
			<li>広告を掲載するご利用者のみアカウントを作成する事ができます。アカウントの新規作成をご希望の方は下記URLより管理者へご連絡ください。
			</li>
		</ol>

		<h4><li>免責事項</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトで提供する情報等の内容について、その正確性、完全性を保証するものではありません。当サイトのご利用等により、万一何らかの障害が発生したとしても、当サイトは一切の責任を負いません。
			</li>
			<li>
				当サイトは、当サイトの構成、ＵＲＬ、コンテンツ等を予告なしに変更または中止する場合があります。
			</li>
		</ol>

		<br>

		<h4><li>著作権</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトに掲載されている情報（文書、写真等）の著作権は、私的使用目的の複製、引用など著作権法上認められている範囲を除き、無断で複製、転用することはできません。
			</li>
			<li>
				当サイトに掲載されている個々の商標やロゴマーク等の権利は、当サイトまたは個々の権利所有者に帰属しており、無断で使用はできません。
			</li>
		</ol>
		<br>

		<h4><li>セキュリティ</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトは、お客様から送信されたデータを保護するための合理的なセキュリティ手段をとりますが、当サイトが採用しているセキュリティ手段にかかわらず、インターネットの利用において絶対的なセキュリティが保証されることではありません。
			</li>
		</ol>
		<br>

		<h4><li>当サイトからのリンク先</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトからのリンクに関し、リンク先のウェブサイトは、各運営者の責任によって管理されるものであり、その内容について保証はしません。また、それらを利用した際にいかなるトラブルや損害が発生しても責任を負いません。
			</li>
			<li>リンクは、リンク先のウェブサイトおよびその内容を当サイトが推奨することを意味するものではありません。
			</li>
		</ol>
		<br>

		<h4><li>当サイトへのリンク</li></h4>
		<ol class="list_kakko">
			<li>
				当サイトへのリンクは、原則としてフリーです。リンク先のURLは、当サイトのトップページ（HOME）へリンクしてください。
			</li>
			<li>
				リンクを張る際は、そのウェブサイトの内容、URL、リンクの趣旨、お名前、ご連絡先等を当サイトホームページ管理者宛にお知らせください。なお、次の第６項に掲げる禁止事項に該当する場合は、リンクをお断りすることがあります。<br>
				ホームページ管理者への問合せは下記リンク先からご連絡ください。
			</li>
			<li>
				当サイトのトップページ（HOME）のURLは、予告なく変更する場合があります。当サイトのURL変更により発生するリンク切れ等、表示に関わる不具合その他の影響について、当サイトは一切の責任を負いませんので、予めご了承ください。
			</li>
		</ol>
		<br>

		<h4><li>禁止事項について</li></h4>
		<p style="font-size: 15px;">
				当サイトのご利用に際し、以下の行為を禁止いたします。
		</p>
		<ol class="list_kakko">
			<li>当サイトの運営を妨げる行為および支障をきたす行為。</li>
			<li>他の利用者、第三者、もしくは当社に迷惑、不利益、プライバシー等の損害を与える行為またはその恐れのある行為。</li>
			<li>公序良俗に反する行為またはその恐れがある行為。</li>
			<li>法律、法令もしくは条例に違反する行為。</li>
			<li>その他、当社が不適切と判断する行為。</li>
		</ol>
		<br>

		<h4><li>プライバシーについて</li></h4>
		<p style="font-size: 15px;">
			当社はお客様からご提供頂いた個人情報を尊重し、プライバシー保護に努めております。
		</p>
	</ol>

	<br>
	<%= link_to "サイトに関するご質問、新規のご登録に関するお問い合わせはこちらをクリックして、メールにてご連絡下さい。", new_information_path, class: "btn btn-info", style: "color:black;" %>

</div>

<br>
<br>
<br>
<br>
<br>

