<body>

<div></div>
<div class="ad_index"><%= link_to "管理者の編集ページへ", edit_admin_registration_path, class: "ad_ad_index" %></div>

<div class="us_index"><%= link_to "User一覧へ", admins_users_path, class: "ad_us_index" %></div>

<div class="pr_index"><%= link_to "Product一覧へ", admins_products_path, class: "ad_pr_index" %></div>






</body>