// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.conf_tr{
	border: 1px solid #ddd;
}


.conf_th{
	width: 20%;
	border-right: 1px solid #ddd;
	text-align: right;
	font-size: 17px;
}


.conf_td{
	width: 70%;
	font-size: 15px;
}



/*.info-sousin_image{
	background-image: url(0h70MgmE1OaB9wHkcyNnIXSD9DbnAJfXIXGmZ_JQVIYjEFcn8fGGR_JAhadGoOcGZVEn5iLitmMHMGLXEPExl-fV1GSHc-cFMQJCpSBT5ocnlBLipBRXkieVUbMC9VfCdPT3ojPFQZPyhbLSwa.jpg);
    max-width: 50%;
    max-height: 50%;
    background-size: 50% 50%;
}*/

