// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_index_pc{
	display: block;
}

.user_index_mini{
	display: none;
}

.user_date_edit_pc{
	display: block;
}

.user_date_edit_mini{
	display: none;
}

.user_index_top{
	text-align: center;
	margin-top: 7%;
}

.category-control{
	width: 20%;
	border: 1px solid currentColor;
	border-radius: 7px;
}

.new_field{
    width: 30%;
    height: 34px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	font-size: 20px;
}

.new_field_text{
	width: 50%;
    height: 130px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	font-size: 20px;
	overflow-y: scroll;
}

 .p_text{
 	font-size: 17px;
 }

.image_size{
	max-width: 120px;
	max-height: 90px;
	background-size: cover;
}

.clearfix::after{
	content:"";
	display:block;
	clear: both;
}

.center-block{
	padding-bottom: 80px;
}

.url_long{
	overflow-x: scroll;
	width: 95%;
    margin: 4% -316px 0% 2%;
}




/* devise の　editページ */
.pc_user_edit{
	display: block;
}

.mini_user_edit{
	display: none;
}

.table_t{
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
}

.edit_th{
	background-color: #043c78;
	width: 210px;
    font-size: 20px;
    color: white;
    text-align: right;
}

.edit_td_rig{
	background-color: #ffffcc;
	width:100%;
}

.edit_th_t{
	background-color: #fff9f5;
	font-size: 15px;
}

.edit_td_lef{
	background-color: #ffffcc;
	width:100%;

}

.edit_td{
	width: 330px;
	font-size: 16px;
}

.t_t{
	width: 80%;
}

.actions{
	text-align: right;
}

.actions_r{
	text-align: center;
}

.ichiran{
	margin-left: 5%;
}


/* ログイン画面 */
.user_login{
	text-align: center;
	margin-top: 8%;
}

.login_th{
	background-color: #212121;
	width: 20%;
    font-size: 18px;
    color: white;
    text-align: right;
}

.login_td{
	font-size: 16px;
}

.login_box{
	width:100%;
	height: 34px;
	background-color: #ffffcc;
}

.login_tap{
	margin-left: 43%;
	margin-top: 3%;
}


/* 新規登録画面 */
.new_th{
	background-color: #212121;
	width: 20%;
    font-size: 18px;
    color: white;
    text-align: right;
}

.new_td{
	background-color: #ffffcc;
	font-size: 16px;
}

.new_box{
	width:100%;
	height: 34px;
}

.new_box_pass{
	height: 50px;
	width:100%;
}

.aaaaaaaaaa{
    background-image: url(7628994i.jpeg)
}





									

@media screen and (max-width:1024px)and(min-width: 768px) {}




@media (max-width: 767px){

/* index ページ */
	.user_index_pc{
		display: none;
	}

	.user_index_mini{
		display: block;
	}

	.user_index_top{
		text-align: center;
		margin-top: 0%;
		font-size: 30px;
	}

	.user_date_edit_pc{
		display: none;
	}

	.user_date_edit_mini{
		display: block;
	}

	.image_size{
		max-width: 100px;
		max-height: 80px;
		background-size: cover;
	}

	.url_long{
		overflow-x: scroll;
		width: 98%;
	    margin: -1% -17px 0% 2%;
	}

	table > tbody > tr > td:first-child::before {
    	content: initial;
	}





/* ログイン画面 */
	.user_login{
		text-align: center;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.login_th{
		background-color: #212121;
		width: 30%;
	    font-size: 15px;
	    color: white;
	    text-align: right;
	}

	.login_tap{
	    margin-left: 35%;
	    margin-top: 5%;
	}



/* devise の　editページ */
	.pc_user_edit{
		display: none;
	}

	.mini_user_edit{
		display: block;
	}

	.edit_th{
		background-color: #043c78;
		width: 36%;
	    font-size: 17px;
	    color: white;
	    text-align: right;
	}

	.edit_td{
		width: 327px;
		font-size: 16px;
	}

	.t_t{
		width: 92%;
	}

/* 新規登録画面 */
	.aaaaaaaaaa{
	    background-image: url(7628994i.jpeg)
	}



}




