<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<p class="show_mini_top"></p>


<div class="page-header", style="text-align: center; margin-top: 8%;">
  <h1 style="margin-bottom: 24px;"><span style="color: #b8860b;font-weight: 600;">‖</span> お問い合わせありがとうございます</h1>

	<p style="font-size: 17px;margin-bottom: 1%;">お問い合わせいただいた内容は、担当者が確認してご連絡差し上げます。<br>
	   なお3営業日を過ぎても返答ない場合は、メールの受信がうまく行えていない可能性がございますので、<br>
	   お手数ですが再度メールにてご連絡・お問い合わせください。</p>


	<%= link_to "⏩ TOPページに戻る", root_path, style: "color:blue; font-size:20px; maegin-left:5%;" %>

</div>
<!--
<div class=""><img class="info-sousin_image" src="0h70MgmE1OaB9wHkcyNnIXSD9DbnAJfXIXGmZ_JQVIYjEFcn8fGGR_JAhadGoOcGZVEn5iLitmMHMGLXEPExl-fV1GSHc-cFMQJCpSBT5ocnlBLipBRXkieVUbMC9VfCdPT3ojPFQZPyhbLSwa.jpg"></div>

 -->