<!DOCTYPE html>
<html>
  <head>
    <title>檢覽-KENLAN-</title>
  </head>

  <body>
  	<div class="main-visual">
	  	<div class ="main-visual-content" style="text-align: center;">
		  	<h1><%= link_to "檢覽-KENLAN-", root_path, style:"color:white;" %></h1>
			<h4 class="main_text">製作者による<br>
				製作者の趣味を満たすための<br>
				ADサイト</h4>
		</div>
	</div>

 

  </body>