<h1 style="text-align:center; margin-top: 5%;">Welcom To My Free Corner！！</h1>

<h4 style="text-align: center;margin:  3% 0%;line-height:  37px;">このページは管理者の完全な<b>趣味</b>による日々のストレスを発散させる<b>ためだけ</b>のページになります。<br>
感想や批判は一切受け付けておりませんので、興味のない方はTOPページへお戻りください。</h4>

<h2 style="text-align: center;"><%= link_to "ENTER", freepages_path, style:"color:blue;" %></h2>